<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">

  <div class="w3-white w3-hover-shadow w3-padding-64 w3-center" style="width:70%;margin:180px 90px 50px 170px;">
   <h4> <p style="color:green">Thanks for Purchasing...visit again</p></h4>
      <a style="color:gray" href="{% url 'medishop:index' %}"   >Back Home</a>

  </div>
</div>


</body>
</html>
